<div class="desc-text text-center">
    <h3 class="heading">Donations</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <h1> <a class="bookinglink" href="https://forms.gle/u73wFzPgpdgXifry9" target="_blank">Online Pujo Booking</a></h1>
            <a href="https://forms.gle/u73wFzPgpdgXifry9" target="_blank"><img src="assets/images/durgotsav2020/DPPUJOKIT.png"></a>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
    </div>
</div>