<div class="desc-text text-center">
    <h3 class="heading">Donations</h3><br>
    <div class="middle-text">
        <h1> <a class="bookinglink" href="https://tinyurl.com/yy83xkmn" target="_blank">Online Pujo Booking</a></h1>
        <div class="pujo-dala">
            <ul>
                <li>To minimize human touch, we will not accept "Puja Dala" this year, instead we will provide it.</li>
                <li>You will be able to collect it from the venue after the puja is performed each day.</li>
                <li>There will be no option of home delivery this year.</li>
                <li>The price of each "Puja Dala" is Rs 200/- </li>
                <li>If you want to donate saree, you can bring along. No return will be possible for saree this year.</li>
                <li>Puja Dala will have Sweets, Dry Prasad, Coconut and Haldi/Kumkum. </li>
            </ul>
            <div style="text-align: center"><a href="https://tinyurl.com/yy83xkmn" target="_blank"><button class= "booking-button">Book
                Puja Dala</button></a></div>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
    </div>
</div>