<div class="desc-text text-center">
    <h3 class="heading">Annual Picnic - Utsab er Jonmotsav</h3><br>
    <div class="middle-text">
        <p> If winter is here, how can Picnic be far away? We, at Utsab, gather together for a day of fun and frolic, enhanced with good food and games. We travel together to resorts and spend the entire day togther for one last time before the year ends.
            Also, we celebrate the birthday of Utsab during our Annual Picnic and why not? It is the love and warmth of all the people which comprises Utsab, the CELEBBRATION of People.</p>
    </div>
    <div class="basic-container">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
</div>