<div class="desc-text text-center">
    <h3 class="heading">Durgotsav 2023</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <img src="assets/images/durgotsav2023/DP2023_9.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_1.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_2.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_3.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_4.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_5.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_6.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_7.jpeg">
                        <img src="assets/images/durgotsav2023/DP2023_8.jpeg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
    </div>
</div>