<div class="desc-text text-center">
    <h3 class="heading">Poila Boisakh - Subho Noboborsho</h3><br>
    <div class="middle-text">
        <p> Nobo Borsho or the Bengali New Year is the time when Team Utsab comes close once more to celebrate the warmth of the New Year and the rhythm of life. We welcome the new year with hope and look forward for an amazing journey throughout the year./div>
            <div class="basic-container">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <button type="button" value="Back"><a routerlink="/home" href="/home">Back
                to Home Page</a></button>
    </div>
</div>