<div class="desc-text text-center">
    <h3 class="heading">Utsab Smile</h3><br>
    <div class="middle-text">
        <p> The main moto of Utsab being spreading smile, Utsab extends support to non profit organizations tendering support to the old and the kids. Utsab visits Shraddha Foundation and Vivekanada Seva Sangham, to hold their hands so that their life becomes
            a little more sustainable. Utsab also organizes blood donation camp in association with Thalassemia and Sickle Cell Society.
            <div class="basic-container">
            </div>
            <button type="button" value="Back"><a routerlink="/home" href="/home">Back
                to Home Page</a></button>
    </div>
</div>