<div class="desc-text">
    <h3 class="heading">Contact Us</h3><br>
    <div class="row">
        <div class="col-sm-6 pos">
            <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=78.36398%2C17.43112%2C78.36398%2C17.43112&amp;layer=mapnik&amp;marker=17.43112%2C78.36398" style="border: 1px solid black"
                width="100%"></iframe><br><small><a 
                    href="https://www.openstreetmap.org/?mlat=17.43112&amp;mlon=78.36398#map=19/17.43112/78.36398">View
                    Larger Map</a></small>
        </div>
        <div class="col-sm-5">
            <p>National Institute of Tourism and Hospitality Management, Telecom Nagar Extension, Gachibowli, Hyderabad, Telangana 500032</p>
            <p>Phone: +91-9985557405</p>
            <p>​E-mail: utsab.hyd@gmail.com</p>
        </div>
    </div>
    <div class="middle-text text-center"><button type="button" value="Back"><a routerlink="/home" href="/home">Back to
                Home Page</a></button></div>
</div>