<div class="desc-text text-center">
    <h3 class="heading">Saraswati Puja - Bhalobasa Dibas</h3><br>
    <div class="middle-text">
        <p> Utsab began its journey in 2013, by paying tribute to Goddess Saraswati, the mother of knowledge and wisdom. It is held every year on Vasant Panchami. Since then, Utsab has been faithfully celebrating Saraswati Puja every year. We offer anjali
            to the divine goddess, along with a garland of cultural events.
    </div>
    <div class="basic-container">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
</div>