<div class="desc-text text-center">
    <h3 class="heading">Utsab Cultural Association</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <img src="assets/images/mobile/DP2020.jpg">
                        <img src="assets/images/mobile/DP2019.jpg">
                        <img src="assets/images/mobile/DP2018.jpg">
                        <img src="assets/images/mobile/DP2017.jpg">
                        <img src="assets/images/mobile/DP2016.jpg">
                        <img src="assets/images/mobile/DP2015.jpg">
                        <img src="assets/images/mobile/DP2014.jpg">
                        <img src="assets/images/mobile/DP2013.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>