<div class="desc-text text-center">
    <h3 class="heading">Utsab Cultural Association</h3>
    <a href="https://tinyurl.com/UtsabPP22" target="_blank"><button>Book Priority Pass</button></a>
    <h2 class="heading"><a routerlink="/durgotsav2021" href="/durgotsav2022" style="color: red; text-decoration: underline;">Durgotsav 2022</a></h2>
    <p>More events are coming soon.....</p>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Durgotsav 2022 Events" [bypassDOM]="true">
                    <ng-template>
                        <img src="assets/images/durgotsav2022/Schedule.jpg">
                        <img src="assets/images/durgotsav2022/Events.jpg">
                        <img src="assets/images/durgotsav2022/Anupam.jpg">
                        <img src="assets/images/durgotsav2022/Durnibar.jpg">
                        <img src="assets/images/durgotsav2022/kathak.jpg">
                        <img src="assets/images/durgotsav2022/dhitang.jpeg">
                        <img src="assets/images/durgotsav2022/recitation.jpg">
                        <img src="assets/images/durgotsav2022/SitAndDraw.jpg">
                        <img src="assets/images/durgotsav2022/SonkhoDhwani.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
            <!-- <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <img src="assets/images/mobile/DP2021.jpg">
                        <img src="assets/images/mobile/DP2020.png">
                        <img src="assets/images/mobile/DP2019.jpg">
                        <img src="assets/images/mobile/DP2018.jpg">
                        <img src="assets/images/mobile/DP2017.jpg">
                        <img src="assets/images/mobile/DP2016.jpg">
                        <img src="assets/images/mobile/DP2015.jpg">
                        <img src="assets/images/mobile/DP2014.jpg">
                        <img src="assets/images/mobile/DP2013.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset> -->
        </div>
    </div>
</div>