<div class="desc-text text-center">
    <h3 class="heading">Aayna - Telengana Bengali Film Festival</h3><br>
    <div class="middle-text">
        <p> TBFF is an annual film festival that seeks to join the dots by screening Bengali films and fill up the empty spaces in the lives of the Bengali-speaking diaspora. The fest aims to integrate the community, inspire the next gen and nurture the rich
            language. Utsab is a proud partner of this event. </p>
    </div>
    <div class="basic-container">
    </div>
    <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
</div>