<div class="desc-text text-center">
    <h3 class="heading">Durgotsav - The Life Event of Bengalis</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container">
                <ngx-tab tabTitle="2023" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6">
                                <img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2023.jpg">
                            </div>
                            <div class="col-sm-6">
                                <a href="/durgotsav2023" style="color: red">Click for more Details</a>
                            </div>
                            
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2022" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6">
                                <img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2022.jpg">
                            </div>
                            <div class="col-sm-6">
                                <a href="/durgotsav2022" style="color: red">Click for more Details</a>
                            </div>
                            
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2021" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6">
                                <img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2021.jpg">
                            </div>
                            <div class="col-sm-6">
                                <!-- <p>COVID 19 has turned our lives upside down. Our lives came to standstill almost. The initial few months of lockdown and curfew helped in decreasing the terrible figures of infections. So Utsab Cultural Association celebrated
                                    Durga Puja 2020 with precautions. For first time ever, we went live on Youtube and Facebook! The webcast allowed devotees to The rituals were followed with social distancing. We had limited slots for Mandap visit, only
                                    20/30 people at a time inside the mandap. also for first time, we started delievering "bata" or the puja kit delivered right at doorstep. Once the prayers were offered on behalf of the devotees, the Puja kits were dispatched
                                    and delivered. Sanitization was carried out frequently. We had hand sanitizers at gates and all people entering the mandap had to put on masks. Though the energy vibes of the devotee crowd was missing, we tried our
                                    best to ensure Utsab with Utsab members was maintained through out the puja days.
                                </p> -->
                                <a href="/durgotsav2021" style="color: red">Click for more Details</a>
                            </div>
                            
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2020" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6">
                                <img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2020.jpg">
                            </div>
                            <div class="col-sm-6">
                                <p>COVID 19 has turned our lives upside down. Our lives came to standstill almost. The initial few months of lockdown and curfew helped in decreasing the terrible figures of infections. So Utsab Cultural Association celebrated
                                    Durga Puja 2020 with precautions. For first time ever, we went live on Youtube and Facebook! The webcast allowed devotees to The rituals were followed with social distancing. We had limited slots for Mandap visit, only
                                    20/30 people at a time inside the mandap. also for first time, we started delievering "bata" or the puja kit delivered right at doorstep. Once the prayers were offered on behalf of the devotees, the Puja kits were dispatched
                                    and delivered. Sanitization was carried out frequently. We had hand sanitizers at gates and all people entering the mandap had to put on masks. Though the energy vibes of the devotee crowd was missing, we tried our
                                    best to ensure Utsab with Utsab members was maintained through out the puja days.
                                </p>
                            </div>
                            <a href="/durgotsav2020" style="color: red">Click for more Details</a>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2019" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2019.jpg"></div>
                            <div class="col-sm-6">
                                <p>We went with a different theme for our 7th year Puja. Our theme was Shanti Rupen Sansthita. Our Maa Durga was depicted as epitome of peace, without weapons. The pandal was created identical to Writers building, Kolkata.
                                    7th year Durgotsav saw our patrons as well as devotees thronging towards our mandap with enthusiasm. Our cultural programme included a never before seen crowd for Nabami night due to absolutely amazingly stellar performance
                                    by Arka Mukharjee. We had celebrity artist Hriti performing for Astami night. We had our in house performances like dance and drama, kids performances. The five day extravaganza was carry forwarded to Kojagori Lakhsmi
                                    Puja.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2018" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2018.jpg"></div>
                            <div class="col-sm-6">
                                <p>An open mandap with paper rolls for decoration – 2018 Durga Puja started with the gala and pomp like every year. We had a different Idol this time. In keeping with the Mandap decoration, we opted for an Idol fashioned after
                                    dokra figurine instead of traditional Dhaker saaj idol. Our in-house team presented music and dance shows, open mic and Song-slesh performing on Panchami night. We had Waseem, the magician with us for twice in a row,
                                    mesmerizing us with his tricks. The kids presented Ali-Baba o’ chollis chor dance drama amidst loud applause from audience. Lopamudra Mitra, renowned singer from Kolkata, performed with her band on Nabami for the first
                                    time ever in Hyderabad and stole the show. On Ashtami, we had scintillating performance by Krondoshi. Apart from these events, we had Utsab SMILE for needy children from Swami Vivekanada ashram on Nabami morning. Bhog
                                    was served every day like every year. An array of food stalls kept open till late night to satiate the foodie spirit of Bengalis. We are truly humbled and thankful for all the blessing you shower on us. Thank You!</p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2017" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2017.jpg"></div>
                            <div class="col-sm-6">
                                <p>Utsab completed the 5th Year milestone in 2017. It was such an amazing Durga Puja this year. The pandel was conceptualized as a grand Jamindar House, the Goddess glowed with all her divine glory! We had the most promising
                                    Bengali play back singer Somlata performing on Asthami for the 1st time ever in Hyderabad. We also had our favorite band MSonic play on Nabami and our very own Aratrika and Surajit perform on Saptami. Our team presented
                                    drama and dance shows. There were bhog like every year and an array of food stalls too. As it is said every blessing counts, we are truly blessed and thankful for all the blessing you shower on us. Thank You!</p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2016" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2016.jpg"></div>
                            <div class="col-sm-6">
                                <p>This year we shifted to the grounds of Meridian School, Hitec City. The event was adorned with traditional Chau Dance from Bengal, performance by Prashmita Mallik and Shramana Banerjee from Kolkata. The event saw a huge
                                    participation all the days. Warli paintings by our members were used to decorate the pandal interior and exterior. It turned out to be an excellent piece of art work.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2015" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2015.jpg"></div>
                            <div class="col-sm-6">
                                <p>
                                    Our 3rd Durga Puja in 2015 saw us grow many folds. The afternoons saw a flood of crowds waiting to savor our delicious bhog, prepared by special cooks who comes every year from Kolkata. A very popular band from Kolkata MSonic performed on Nabami night,
                                    intoxicating Hyderabad with their melodious harmony. The in-house events were also major hits inviting accolades from many corners.</p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2014" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2014.jpg"></div>
                            <div class="col-sm-6">
                                <p>The success in the maiden year and the support from our well-wishers and sponsors made us shift to a venue on the main road and hence SN Gardens hosted our Durga Puja. This year saw two Dandiya nights and some beautiful
                                    musical nights performed by star performers from Hyderabad. With over whelming support from all corners we bade the Mother Goddess good bye with a promise of a bigger celebration next year.</p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
                <ngx-tab tabTitle="2013" [bypassDOM]="true">
                    <ng-template>
                        <div class="row">
                            <div class="col-sm-6"><img _ngcontent-c3="" class="puja-image" src="assets/images/durgotsav/DP2013.jpg"></div>
                            <div class="col-sm-6">
                                <p>Utsab organized their first Durga Puja in 2013. The 5 days event was hosted in premises of NITHM, Gachibowli. The event saw an overwhelming participation from all over Hyderabad. The mornings were bathed in the sacred hymns
                                    of puja while the evenings adorned the magnificent display of songs, dances and drama and saw a huge gathering of enthusiast people dancing to the tune of Dandiya.
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
                to Home Page</a></button>
    </div>
</div>