<div class="desc-text text-center">
    <h3 class="heading">Durgotsav 2022</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <!-- <img src="assets/images/durgotsav2020/DP20201.jpg"> -->
                        <img src="assets/images/durgotsav2022/DP2022_1.jpg">
                        <img src="assets/images/durgotsav2022/DP2022_2.jpeg">
                        <img src="assets/images/durgotsav2022/DP2022_3.jpg">
                        <img src="assets/images/durgotsav2022/DP2022_4.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
    </div>
</div>