<div class="desc-text text-center">
    <h3 class="heading">Durgotsav 2020</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <!-- <h1>
                <a class="bookinglink" href="https://www.youtube.com/c/UtsabHyderabad" target="_blank">Watch Pujo</a> &nbsp; &nbsp; &nbsp; &nbsp;
                <a routerlink="/donation" href="/donation" class="bookinglink">Book Pujo</a>
            </h1> -->
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container tab-text">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <!-- <img src="assets/images/durgotsav2020/DP20201.jpg"> -->
                        <img src="assets/images/durgotsav2020/DP20202.jpg">
                        <img src="assets/images/durgotsav2020/DP20203.jpg">
                        <img src="assets/images/durgotsav2020/DP20204.jpg">
                        <img src="assets/images/durgotsav2020/DP20205.jpg">
                        <img src="assets/images/durgotsav2020/DP20206.jpg">
                        <img src="assets/images/durgotsav2020/DP20207.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back
            to Home Page</a></button>
    </div>
</div>