<div class="desc-text text-center">
    <h3 class="heading">Durgotsav 2020</h3><br>
    <div class="middle-text">
        <div class="basic-container">
            <ngx-tabset customNavClass="nav-test-class" customTabsClass="container">
                <ngx-tab tabTitle="Welcome" [bypassDOM]="true">
                    <ng-template>
                        <!-- <img _ngcontent-c3="" src="assets/images/durgotsav2020/DP20201.jpg"> -->
                        <img src="assets/images/durgotsav2020/DP20202.jpg">
                        <img src="assets/images/durgotsav2020/DP20203.jpg">
                        <img src="assets/images/durgotsav2020/DP20204.jpg">
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>