.container {
    width: 100%;
    padding: 0;
}

img {
    width: 100%;
    max-height: 800px;
}

@media screen and (min-width:300px) and (max-width:750px) {
    img {
        width: 100%;
        max-height: 800px;
    }
}